 * a {
    color: tomato;

 }
 * p{
    text-align: center;
 }
 * h2{
    text-align: center;
 }
 * P.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
 }
 * button {
    color: brown;
    position: relative;
    left: 50%;
    transform: translate(-50%,o);
 }
 .parent{
    text-align: right;
 }
 